.user-not-owner {
  form {
    select,
    input:not(.btn) {
      // margin-left: 1rem;
    }
  }
}

.user-owner {
  @media only screen and (max-width: 768px) {
    padding: 0 !important;
  }
  td {
    span {
      @media only screen and (max-width: 768px) {
        display: block;
      }
    }
  }
  h1 {
    @media only screen and (max-width: 768px) {
      // text-align: center;
      // padding: 1rem;
    }
  }
  small,
  p {
    @media only screen and (max-width: 768px) {
      // padding: 1em !important;
    }
  }
}

.actions-tooltip {
  // border: 1px solid black;
  span {
    text-align: left;
    font-size: 16px;
    padding: 0.2rem;
    display: inline;
    cursor: pointer;
    &:hover {
      text-decoration: underline;
    }
  }
  svg {
    cursor: pointer;
  }
}
